/*  Google Font CDN  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

.logo {
  position: fixed;
  top: 2vw;
  left: 2vw;
  z-index: 1000;
}

.pointWrap {
  position: fixed;
  right: 2vw;
  top: 2vw;
  z-index: 1000;
}

.pointWrap li {
  list-style: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #999;
  margin-top: 12px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.pointWrap li.active {
  background-color: #cf0b2c;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.textWrap {
  position: relative;
  z-index: 100;
  padding: 60px;
  width: 48%;
  margin-top: 10vw;
  background-color: rgba(137, 137, 137, 0.1);
}

.textWrap h2 {
  text-transform: uppercase;
  font-size: 48px;
  margin: 0;
} 

.textWrap span {
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #cf0b2c;
} 

.textWrap p {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 500;
  color: #4f4f4f;
} 

.imageWrap {
  position: fixed;
  right: 0;
  top: 35%;
  width: 50%;
}

/* left sneakers */
.imageWrap img {
  position: absolute;
  width: 400px;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  transform: translate(-100px, -150px) rotate(-10deg);
  opacity: 0;
  visibility: hidden;
}

/* right sneakers */
.imageWrap img:last-child {
  left: 360px;
  top: 130px;
  transition-delay: .2s;
  transform: translate(100px, 150px) rotate(-10deg);
}

section.active .imageWrap img {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

section.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.intro h1 {
  color: #000;
  text-align: center;
  font-size: 66px;
  font-size: 66px;
}

section.intro em {
  display: block;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: #cf0b2c;
  opacity: 0.6;
}